<div class="container-fluid">
    <div class="row mb-3" style="padding-left: 10%; padding-right: 10%">

        <h3>Projects</h3>
        <br><br><br>
        <div *ngFor="let proyect of proyects" class="col-sm-4">
            <img src="{{proyect.src}}" alt="{{proyect.name}}" width="100%"/>
            <p><br>
            <button [routerLink]="['/project', proyect.label]">
                {{proyect.name}}
            </button>
        </div>

    </div>
</div>

<link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
/>
(click)="share()" class="btn btn-light"