<main>
    <div class="row mb-2">
      <div class="col-4">
        <img src='{{ patri }}' alt="Retrato" class="perfil" />
      </div>
      <div class="col-8">
        <h2>Hola!! Me llamo Patricia Júdez.</h2>
        <div class="texto">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Architecto nulla nam porro optio, exercitationem a beatae aperiam
            quis sint pariatur eaque consequuntur voluptatibus corporis eius
            laborum facere dicta quas cumque!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
            blanditiis cumque sint incidunt optio eum non nihil, quos atque
            fugit ad nostrum? Obcaecati praesentium sapiente, totam quisquam
            consequuntur atque quo. Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Cumque, porro distinctio. Eos mollitia dicta
            deserunt aliquam corporis, tempore quod explicabo quibusdam
            dolores, placeat eum vel, voluptate impedit animi voluptatibus
            voluptas?
          </p>
        </div>
      </div>
    </div>
  </main>