<div class="container-fluid">
  <div class="row mb-3" style="padding-left: 10%; padding-right: 10%">
    <h2>Project Details</h2>
    <br /><br /><br />
    <div class="col-sm-2"></div>

    <div class="col-sm-8">
      <div *ngIf="project">
        <h3>{{ project.name }}</h3>

        <br><br>

        <p>ES/</p>
        <p>{{ project.descriptionES }}</p>
        <p>EN/</p>
        <p>{{ project.descriptionEN }}</p>

        <br><br><br>

        <img src="{{ project.src }}" alt="{{ project.name }}" width="70%" class="imagenes"/>
        
      </div>
    </div>

    <div class="col-sm-2"></div>
  </div>
</div>
