/* Global Styles */

* {
  font-family: Montserrat, Montserrat, sans-serif;
  color: #616161;
}

/* TOP-BAR */

app-top-bar {
  padding: 6%;
  padding-top: 4%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  margin: 0px auto;
  display: block;
}

.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 20%;
  height: auto;
  text-align: left;
  float: left;
  justify-content: center;
}

nav {
  font-size: 1.4vw;
}

.button {
  color: rgba(0, 0, 0, 0.5);
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 1.4vw;
  cursor: pointer;
  border: none;
  font-weight: 500;
}

.button:hover {
  opacity: 0.8;
  font-weight: normal;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

/* PROJECTS */

main {
  display: block;
  font-weight: 300;
  padding-left: 10%;
  padding-right: 10%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.imagen {
  display: flex;
  margin: auto;
  width: 100%;
  padding-right: 2%;
  padding-left: 2%;
}

.imagen:hover {
  filter: blur(5px);
}

.imagenes {
  display: flex;
  margin: auto;
}

/* PROJECT-INFO */

.descripcion {
  padding-bottom: 8%;
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.2vw;
}

.descripcion h1 {
  font-size: 2vw;
}

.descripcion h3 {
  font-size: 1.4vw;
}

.perfil {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

h2 {
  font-size: 2vw;
  margin-top: 2%;
}

.texto {
  padding: 2%;
  padding-left: 4%;
  font-size: 1vw;
  text-align: justify;
}

@media (max-width: 575px) {
  * {
    font-family: Montserrat, Montserrat, sans-serif;
    color: #616161;
  }
  nav {
    font-size: 2.6vw;
  }
  app-top-bar {
    padding: 6%;
    padding-top: 4%;
    padding-bottom: 6%;
  }
  .logo {
    width: 35%;
  }

  .button {
    font-size: 2.6vw;
  }

  .imagen {
    width: 80%;
    padding-bottom: 4%;
  }

  .descripcion {
    padding-bottom: 8%;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.8vw;
  }

  .descripcion h1 {
    font-size: 2.6vw;
  }

  .descripcion h3 {
    font-size: 2vw;
  }

  h2 {
    font-size: 2vw;
  }

  .texto {
    padding-left: 1%;
    font-size: 1.6vw;
    text-align: justify;
  }
}
